body {
}

#DescriptionDIV {
    margin-top: 30px;
    width:100%;
}

#TypeDIV{
    margin-top:30px;
}

#TechDIV{
    position: absolute;
    right: 400px;
    top:150px;
}

#DescriptionTable {
}

#TypeTable {
}

#TechTable {
}

#TableHeader {
    background-color: #DCDCDC
}