html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    border-radius: var(--border-redius);
}

.compareTopColor {
    background: #4682B4;
    background: linear-gradient(to bottom, #4682B4, #ADD8E6, #FFFFFF 10%);
}

#MenuContainer {
    background-color: #e8e8e8;
    width:100%;
}

#Menu {
    display: inline-flex;
    justify-content: space-between;
    column-gap: 20px;
    padding: 20px 0;
}

#Title {
    color: #3333ff;
}

.tableRow {
    border-style: solid;
    border-width: thin;
    border-color: #e0e0eb;
    border-right: none;
}

.TableHeader {
    background-color: #DCDCDC;
}

.propertyName {
    background-color: #DCDCDC;
}

img {
    max-height: 100px;
}

.imagePlace {
    position: relative;
    left: -30%;
    top:20px;
}