@model JooleGroupProject.Models.ProductViewModel

@{
    ViewBag.Title = "CompareView";
}

<h2>CompareView</h2>

@foreach( var prod in Model.Product)
            {
<h2> @Model.Product.Product_Name</h2> 
            }
