@model JooleGroupProject.Models.SearchModel


    <select class="categoryDropdown" id="catSelect" for="@Model.Categories">
        @foreach (var v in Model.Categories)
        {
            <option value="@v.Category_ID" onselect="">@v.Category_Name</option>
        }
    </select>
    

